<div style="display: table; width: 100%;">
	<div style="display: table-cell; width: 25%; box-sizing: border-box; padding: 10px;">
		<div id="image" class="imageeditable" style="box-sizing: border-box; border-radius: 50%; height: 100px; width: 100px; float: right;"></div>
	</div>
	<div style="display: table-cell; width: 75%; box-sizing: border-box; padding: 10px; vertical-align: middle;">
		<div id="content" contenteditable="true" style="float: left; width: 80%;">
			Lorem ipsum dolor sit amet, consectetur adipisci elit è considerato il testo segnaposto!!!
		</div>
	</div>
</div>