<div style="display: table; width: 100%;">
	<div id="image" class="imageeditable" style="display: table-cell; width: 45%; box-sizing: border-box;"></div>
	<div style="display: table-cell; width: 55%; box-sizing: border-box; padding: 10px;">
		<div id="content" contenteditable="true" style="display: inline-block;">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
			penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
			quis, sem.
		</div>
	</div>
</div>