<div style="box-sizing: border-box; display: table-cell; white-space: initial; height: 100%;">
	<div class="simpleShadow" style="margin: 0px 10px; height: 100%; min-width: 160px; max-width: 160px; background-color: white;">
		<div class="poiimage coverBackground" style="height: 95px; position: relative; box-sizing: border-box;">
			<div class="poiprice" style="position: absolute; bottom: 0%; margin: 10px; color: white; text-shadow: 2px 2px 2px rgb(0, 0, 0);">12€</div>
		</div>
		<div style="white-space: initial; padding: 10px; box-sizing: border-box;">
			<div class="poititle" style="font-weight: bold; font-size: 110%; margin: 5px 0px;">Basilica</div>
			<div class="poisubtitle">My Card saves you time and moneyafsd asfafas asgqwrgqwegq gqwegqwegqwe gqwegqwgq wegqwegqw
				egqwegqwegq wegqw egqw</div>
		</div>
	</div>
</div>