<div style="text-align: center">
	<div style="font-size: 65px; height: 40px; font-family: serif;">
		“
	</div>
	<div style="padding: 10px">
		<div id="quote" contenteditable="true" style="display: inline-block;">
			Tu sei Pietro e su questa pietra io edificherò la mia Chiesa e le porte degli inferi non prevarranno contro di essa.
		</div>
	</div>
	<div style="padding: 10px; font-size: 70%; color: gray;">
		(<span id="quoteAuthor" contenteditable="true" style="display: inline-block;">
			MT 16,18
		</span>)
	</div>
</div>