<div style="display: table; width: 100%;">
	<div style="display: table-cell; width: 55%; box-sizing: border-box; padding: 10px;">
		<div id="title" contenteditable="true" style="display: inline-block; font-size: x-large; margin: 0px 0px 20px 0px;">
			Lorem ipsum dolor sit amet
		</div>
		<div id="subtitle" contenteditable="true" style="display: inline-block;">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		</div>
	</div>
	<div id="image" class="imageeditable" style="display: table-cell; width: 45%; box-sizing: border-box;"></div>
</div>